.banda{

  width: 25rem;
  position: absolute;
  z-index: -1;

}

.playstoreContainer{
  max-width: 80rem;
  width: 80%;
  margin: auto;
  padding: 8% 3%;
  font-family: 'Berlin Sans FB';
  font-size: 1.5rem;
  letter-spacing: 0px;
  color: #767676;
}

.playstoreContainer > div > div{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.playstoreContainer h3{
  font-family: 'Berlin Sans FB';
  font-size: 2rem;
  color: #000;
}

.caughtUp{
  width: 100%;
  padding: 5%;
  padding-bottom: 0;
  text-align: center;
}

.caughtUp h2{
  font-size: 3rem;
  color: #000;
}

.caughtUp a{
  color: #ACDDDA;
}

@media only screen and (max-width: 550px){
  .playstore{
    display: none;
  }
}